*, *::after, *::before {
  box-sizing: inherit
}

.App {
  box-sizing: border-box;
  text-align: center;
}

.App-nav {
  list-style: none;
  margin: .5rem;
  padding: .5rem;
}

.App-nav-item {
  display: inline-block;
}
